html {
  font-family: Helvetica, sans-serif;
}

div.container {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px black solid;
  z-index: 10;
  overflow: scroll;
}

div.left {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  border: 3px solid green;
  padding-left: 20px;
  width: 300px;
}

div.right {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  border: 3px solid orange;
  flex-wrap: wrap;
  text-align: right;
}

li {
  padding: 0;
  list-style: none;
  display: inline-block;
  margin: 5px 20px;
}

#logo {
  color: MediumAquamarine;
  text-align: left;
}

.maincontainer {
  height: 500px;
  display: flex;
  overflow: scroll;
  justify-content: flex-start;
}

.column {
  display: flex;
  margin-top:40px;
}

.column .large {
  width: 630px;
  margin-right: 40px;
}

.column .medium {
  width: 300px;
  margin-right: 40px;
}

.column .small {
  width: 240px;
}

.content {
  padding-top: 0px;
}

.maincontainer img {
}

p.summary {
  padding: 10px 0px 10px 0px;
}

p{
  margin:0px;
}

h2 {
  margin: 0px;
}

.statement {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.headline {
  display: flex;
  height: 300px;
}

.headline.one {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  background-size: 100% 100%;
}

.headline.two {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  background-repeat: repeat-x;
}

.headline.three {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  background-repeat: repeat-x;
}

.headline.four {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  background-repeat: 100% 100%;
}

.headline p.statement {
  font-size: 40px;
}
